* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter',intra;
  background-color: #282c34;
  color: white;
  width: 100%;
 min-height: 100vh;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #21222A;
  padding: 20px 40px;
  flex-wrap: wrap;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

.logo-text {
  color: #61DAFB;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.course-title {
  font-size: 16px;
  color: white;
  font-weight: 500;
}

/* MAIN CONTENT */
.main-content {
  width: 100%;
  padding: 60px 40px;
  background-color: #282D35;
}

.main-content h1 {
  font-size: 36px;
  margin-bottom: 24px;
  text-align: center;
}

.main-content ul {
  list-style: none;
  padding-left: 0;
  max-width: 800px;
  margin: auto;
}

.main-content li {
  font-size: 18px;
  line-height: 2;
  display: flex;
  align-items: center;
}

.main-content li::before {
  content: "🔹";
  color: #61DAFB;
  margin-right: 10px;
  font-size: 20px;
}
